<% content_for :title, "Editing list" %>

<h1>Editing list</h1>

<%= render "form", list: @list %>

<br>

<div>
  <%= link_to "Show this list", @list %> |
  <button>
    <%= link_to "Voltar", lists_path %>
  </button>
  <button>
    <%= link_to "Delete", @list, method: :delete, data: { confirm: "Are you sure?" } %>
  </button>
</div>
