<style>
  label {
    padding: 0.5rem;
    font-size: 1.1rem;
  }

  input[type="text"]{
    width: 95%;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  #form-actions  {
    background-color: #4a7d6f;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 100rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: fit-content;
  }

  @media (max-width: 768px) {
    #form-actions {
      text-align: center;
      font-size: 0.8rem;
    }
  }

</style>

<div id="main" class="mx-8 p-8 bg-[--card-background] rounded-xl shadow-md mt-20 md:mt-40 mb-10">
  <h1 class="text-2xl text-[#4a7d6f] mb-6">Editar Lista</h1>

  <div id="form">
    <%= render "form", list: @list%>
  </div>

  <div class="mt-16">
    <%= link_to lists_path, class: "inline-block  text-primary rounded hover:bg-gray-500 ml-4" do %>
      <div class="flex items-center">
        <%= image_tag "back.png", alt: "Voltar", class: "w-5 h-auto" %>Voltar
      </div>
    <% end %>
  </div>
</div>

