<style>
  label {
    margin-top: 1rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  input[type="text"] {
    width: 95%;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  input[type="submit"] {
    margin-top: 1rem;
    background-color: #4a7d6f;
    color: white;
    border: none;
    border-radius: 100rem;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: fit-content;
  }
</style>

<div class="m-8 p-8 bg-card rounded-lg shadow-lg">
  <% content_for :title, "New list" %>

  <h1 class="text-primary text-2xl mb-8 font-bold">Nova Lista</h1>

  <%= render "form", list: @list %>

  <div class="mt-5">
    <%= link_to lists_path do %>
      <div class="flex items-center">
        <%= image_tag "back.png", alt: "Voltar", class: "w-5 h-auto color-primary" %>
        <p class="color-primary">Voltar</p>
      </div>
    <% end %>
  </div>
</div>
